* {
  font-family: 'Nunito', sans-serif;
}

:root {
  --hue-neutral: 315;
  --hue-wrong: 0;
  --hue-correct: 100;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 35%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.card {
  width: 700px;
  max-width: 80%;
  border-radius: 5px;
  background-color: beige;
  padding: 10px;
  box-shadow: 2px 2px 15px 2px;
}

#question {
  font-size: 20px;
  font-weight: 900;
  padding-left: 15px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0px;
}

.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 80%);
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 5px 10px;
  color: black;
  font-weight: 900;
  cursor: pointer;
}

.btn:hover {
  border-color: aliceblue;
}

.btn.correct {
  --hue: var(--hue-correct);
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start,
.next {
  font-size: 1.5rem;
  padding: 10px 20px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
